@model WebProje.Models.Sahiplenme
<style>
    #form{
        width:70%;
        padding:20px 40px 20px 40px;
        background-color:white;
        opacity:0.7;
        position:relative;
        left:30%;
        color:black;
        margin-bottom:50px;
    }
</style>


<hr />
<div class="row">
    <div class="col-md-4" id="form">
        <form asp-action="Index" asp-route-id="@ViewData["id"]">
            <h4>Sahiplenme</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="isim" class="control-label"></label>
                <input asp-for="isim" class="form-control" />
                <span asp-validation-for="isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soyIsim" class="control-label"></label>
                <input asp-for="soyIsim" class="form-control" />
                <span asp-validation-for="soyIsim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TC" class="control-label"></label>
                <input asp-for="TC" class="form-control" />
                <span asp-validation-for="TC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dogumTarihi" class="control-label"></label>
                <input asp-for="dogumTarihi" class="form-control" />
                <span asp-validation-for="dogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adres" class="control-label"></label>
                <input asp-for="adres" class="form-control" />
                <span asp-validation-for="adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> Daha önce hiç hayvan sahiplendiniz mi?</label>
                <input asp-for="soru1" class="form-control" />
                <span asp-validation-for="soru1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> Sahiplendiğiniz hayvana nerede bakacaksınız?</label>
                <input asp-for="soru2" class="form-control" />
                <span asp-validation-for="soru2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Başka bir hayvanla beraber yaşayacak mı?</label>
                <input asp-for="soru3" class="form-control" />
                <span asp-validation-for="soru3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Günde Kaç saat yanlız kalacak?</label>
                <input asp-for="soru4" class="form-control" />
                <span asp-validation-for="soru4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
