<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.55)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhB33WazlvBo2nw-f3Our79OUY7peY3oMqow&usqp=CAU);
            background-position: center;
            background-size: cover;
        }   
        
        nav {
            opacity:0.7;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebProje</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hayvanlar">Hayvanlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sahiplenme" asp-action="Index">Sahiplenme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hayvan" asp-action="Create">Hayvan Kayıt</a>
                        </li>
                    </ul>
                    <div>
                        Diller:
                        <ul>
                            <li>
                                <b>Deutsch</b><i class="fade fa-angle-down" aria-hidden="true"></i>
                                <div class="triangle"></div>
                                <ul class="Language">
                                    <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"><i class="flag-icon flag-icon-gb"></i>English</a></li>
                                    <li><a  asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="de-DE"  class="nav-link"><i class="flag-icon flag-icon-de"></i>Deutsch</a></li>
                                    <li><a  asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="nl-NL"  class="nav-link"><i class="flag-icon flag-icon-nl"></i>Netherland</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebProje - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
