@model IEnumerable<WebProje.Models.Hayvanlar>
<style>
    .card {
        margin-right: 20px;
        margin-bottom: 20px;
    }
</style>
@foreach (var item in Model)
{
    <div style="display: flex; float:left;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.HayvanResim)" />
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.HayvanAdi)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Tur)</p>
                <a asp-controller="Sahiplenme" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Sahiplen</a>
            </div>
        </div>
    </div>

}

