@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.55)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhB33WazlvBo2nw-f3Our79OUY7peY3oMqow&usqp=CAU);
            background-position: center;
            background-size: cover;
        }
        .paragraf {
            color: white;
            position: absolute;
            top: 30%;
            left:30%;
            text-align: center;
        }
        .paragraf h1{
            font-size:70px;
            margin-top:80px;
        }
        .paragraf p {
            margin-top: 20px auto;
            font-weight:100;
            line-height:25px;
        }
        .btn{
            width:200px;
            padding:15px 0;
            text-align:center;
            border-radius:25px;
            font-weight:bold;
            border:2px solid white;
            color:white;
        }
        .btn:hover{
            color:antiquewhite;
        }
    </style>
</head>
<body>
    <div class="paragraf">
        <h1>Hayvanları koruyalım</h1>
        <p>Tek soyu tükenen hayvanlar değil,biz de hayvan sevgisi olmadan tüeniyoruz.<br />
        Bu zamanın kıymetini bilin.Hayvanları koruyun.</p>
        <button type="button" class="btn">Şimdi Sahiplen</button>
    </div>
</body>
</html>